<!DOCTYPE html>
<html>
  <head>
    <title>Reversi</title>
    <meta charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
   
  </head>
  <body>
    <input id="channel" type="text"><button id="join">Join</button>
    <ol id="messages"></ol>
    <input id="message" type="text"><button id="send">Send</button>
  </body>
</html>
